@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* COLOR PALETTE: https://coolors.co/ffffff-3d728c-d3d3d3-37b0c9-050505 */

:root {
    /* FONTS */
    --primary-font: 'Poppins';
    --header-size: 32px;
    --paragraph-size: 18px;
    --header-weight: 600;
    /* COLORS */
    --primary-color: white;
    /* WHITE*/
    --secondary-color: #37B0C9;
    /* BLUE */
    --highlight-color: #F3EFEF;
    /* LIGHT GREY */
    --header-color: #3d728c;
    /* FOOTER COLOR */
    /* MOON STONE */
    --paragraph-color: #242424;
}


/* NAV HEADER */
header {
    font-family: var(--primary-font), Arial;
    font-weight: 525;
    position: fixed;
    width: 100%;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: height .3s ease-in-out;
    height: 100px;
    top: 0px;
}

header.nav-shrink {
    height: 65px;
}

.navsec {
    text-align: center;
    padding: 1em;
    display: flex;
    width: 100%;
    margin: 0 20px;
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    max-width: 1000px
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    display: flex;
    align-items: center;
    border-right: 1px solid #202020;
    height: 10px;
    padding-right: 20px;
}

nav li:last-child {
    border-right: 0
}

nav a {
    text-decoration: none;
    border-width: 0;
    border-top-style: solid;
    margin: 1em 0;
    color: #25688a;
    font-size: var(--paragraph-size);
    transition: color .3s;
    align-items: center;
    padding: 1em 0;
}

nav a:hover {
    color: #5595b3;
    background-color: #ffffff;
    text-decoration: none;
}

nav a.active {
    color: #050505;
}

/*
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 7px;
    top: 100%;
    border-top: 2px solid var(--secondary-color);
    padding: 0 5px; 
    width: 15em;   
    right: -2.5em;
    border-radius: 2px;
}
.dropdown-content a {
    padding: 1em 0;
    display: block;
    color: var(--header-color);
    text-decoration: none;
    margin: 0;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:after {
    content: "\25BC";
    margin-left: 5px;
    font-size: 12px;
    color: var(--header-color);
}
.dropdown-content:after {
    content: "";
    position: absolute;
    top: -12px;
    left: calc(60% + 18px);
border-width: 5px;
border-style: solid;
border-color: transparent transparent #ffffff transparent;
}*/

.navsec hr {
    padding: 0;
    margin: 0;
}

.iconlogo {
    margin-left: 10px
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    transition: margin .3s ease-in-out;
    scroll-behavior: smooth;
    font-family: var(--primary-font), Arial, sans-serif;
}

/* IMAGE HEADER OPTION */
#img-Header {
    display: flow-root;
    text-align: left;
    font-size: 3.6em;
    font-weight: var(--header-weight);
    background-size: cover;
    background-position: center 78.5%;
    color: var(--primary-color);
    width: 100%;
    overflow: hidden;
    padding-top: 20vh;
}

#img-Header p {
    position: relative;
    z-index: 5;
    bottom: 1em;
    margin-left: 3em;

}

#header-border {
    position: relative;
    z-index: 10;
    width: 100%;
    min-width: 932px;
    top: 12px;
}

#header-info {
    background-color: var(--primary-color);
    height: auto;
    margin: auto;
    padding: 2vh;
    text-align: center;
    font-size: var(--header-size);
    color: var(--secondary-color);

}

#header-info h3 {
    font-weight: var(--header-weight);
}

#header-info p {
    font-size: var(--paragraph-size);
    color: var(--header-color);
    max-width: 60%;
    margin: auto;
}


/* SECTION 4 FEATURED PROJECTS*/
#gallery-section {
    background-color: var(--primary-color);
    height: auto;
    padding: 4vh 20vw;
    margin: 0px 0;

}

#gallery-section h1 {
    color: var(--secondary-color);
    font-size: var(--header-size);
    font-weight: var(--header-weight);
    margin-bottom: 1em;
}

.gallery img {
    width: 100%;
    display: block;
    aspect-ratio: 1.25 / 1;
    object-fit: cover;
    transition: transform 1000ms;
}

#gallery-section ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 100%;
    

    @media (max-width: 1336px) {
        grid-template-columns: minmax(33%, 1fr);
    }
}

figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

figure::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(0, 0, 0, 0.5);
    transform-origin: center;
    opacity: 0;
    transform: scale(2);
    transition: opacity 300ms;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding: 1rem;
    color: var(--primary-color);
    font-size: 1.2rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
}

a:is(:hover, :focus) figure::after {
    opacity: 1;
}

a:is(:hover, :focus) figcaption {
    opacity: 1;
    transition: opacity 600ms;
}


/* SECTION 5  - CONTACT US */
#contactSection {
    background-color: var(--highlight-color);
    height: auto;
    padding: 2em 20vw;
    text-align: center;
}

#contactSection h3 {
    color: var(--paragraph-color);
    font-size: 26px;
    margin-bottom: 1em;
}

#contactSection button {
    padding: 1em 2em;
    background-color: var(--header-color);
    border-width: 0px;
}

#contact-button {
    color: white;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
}





/* FOOTER */
footer.footer {
    width: 100%;
    padding: 20px 0;
    background-color: var(--header-color);

}

.footer-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: end;


    /* Wrap content on smaller screens */
    @media (min-width: 918px) {
        padding: 0 2em;
        padding-bottom: 1em;
    }
}

.footer-left {
    width: 100%;
    text-align: center;

    @media (min-width: 918px) {
        width: 33%;
        /* Adjust the width as needed for larger screens */
        text-align: left;
    }
}

.footer-logo {
    width: 130px;
    filter: brightness(0) saturate(100%) invert(96%) sepia(100%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
    text-align: center;
}

.footer-menu {
    width: 100%;
    text-align: center;

    @media (min-width: 918px) {
        width: 33%;
        /* Adjust the width as needed for larger screens */
        text-align: center;
    }
}

.footer-menu a {
    display: block;
    font-weight: 500;
    text-decoration: none;
    /* Remove underlines on hover */
    color: var(--primary-color);
    /* Set the desired text color on hover */
    width: 100%;
}

.social-items {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    /* Adjust the margin as needed */

    @media (min-width: 918px) {
        width: 33%;
        /* Adjust the width as needed for larger screens */
        text-align: center;
        margin-top: 0;
    }
}

footer p {
    color: #fff;
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

#footerNumber {
    text-decoration: none;
    /* Remove underlines on hover */
    color: var(--primary-color);
    /* Set the desired text color on hover */
}

.social-icon {
    margin-left: 14px;
    /* Adjust the margin as needed */
}

/* COOKIES IF NEEDED */
#cookieNotice {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--highlight-color);
    padding: 1em 20vw;
    z-index: 1000;
    border-style: solid;
    border-width: 5px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-color: var(--secondary-color);
}

#cookieNotice h4 {
    font-size: 20px;
}

#cookieNotice p {
    font-size: 14px;
}

#closeIcon {
    right: 3em;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 10000;
    cursor: pointer;
    background-image: url("/images/common/close.png");
    background-position: center;
    background-size: cover;
}

/* MOBILE SCREEN AND 918px<*/
@media only screen and (max-width:918px) {
    .navsec {
        text-align: center;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .iconlogo {
        margin: 0 auto
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        margin-right: 15px
    }

    nav {
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        overflow: hidden;
        transform: translateY(-10%);
        text-align: center;
        transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, visibility 0.8s ease-in-out;
        z-index: 1;
        /* Place the nav behind the header */
        overflow: visible;
    }

    header.nav-shrink {
        padding-top: 5px;
    }

    nav.active {
        z-index: -1;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 20px;
        width: 100%;
    }

    nav li {
        margin-bottom: 10px;
        border-right: 0;
        padding: 10px 0;
        width: 100%;
    }

    nav a {
        text-decoration: none;
        width: 100%;
        font-size: 18px;
        transition: color .3s;
        padding: 0;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        left: 15px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%)
    }

    .menu-icon {
        padding: 1px;
        width: 30px;
        height: 3px;
        background-color: #202020;
        margin: 6px 0;
        transition: .4s ease-in-out;
        vertical-align: middle;
    }

    .menu-toggle.active .menu-icon:nth-child(1) {
        transform: rotate(-45deg) translate(-2px, 10px);
    }

    .menu-toggle.active .menu-icon:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .menu-icon:nth-child(3) {
        transform: rotate(45deg) translate(-3px, -10px);
    }

    header img {
        display: block;
        margin: 0 auto
    }

    .navsec {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .iconlogo {
        margin-right: 10px
    }

    .dropdown-content {
        width: 100%;
        /* Make each item full width */
        box-sizing: border-box;
        left: 0px;
    }

    .dropdown-content::after {
        left: calc(60%);
    }

    .dropdown.active .dropdown-content {
        display: block;
        word-spacing: .25em;
    }

    .dropdown-content a {
        padding-right: 10px;
        /*border-right: 1px solid #202020;*/
    }

    .dropdown-content a {
        display: block;
        padding: 12px 0;
        /* Add padding for better readability */
        text-decoration: none;
        /* Adjust the color as needed */
    }

    #img-Header {
        /* going from 20vh to 10vh */
        padding-top: 10vh;
        font-size: 40px;
        text-align: center;
    }

    #img-Header p {
        left: 0;
        right: 0;
        margin-left: 0;
        padding: 0;
        bottom: 1em;
        padding: 0 10px;
    }

    #header-border {
        top: 2px;
    }

    #header-info p {
        max-width: 90%;
    }

    #gallery-section {
        text-align: center;
        padding: 4vh 1rem;
    }

    .footer-menu a {
        display: inline;
    }
}