#templateHeader {
    position: relative;
    text-align: left;
    padding: 2vh 3em;
    height: 1vh;
    font-family: var(--primary-font), Arial;
    font-size: 48px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 1em;
}

#section {
    padding: 0 5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
}

#left-content {
    column-span: 1fr;
}

#left-content ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    list-style: none;
    padding: 1em;
    padding-left: 0;
}

#left-content p {
    font-size: var(--paragraph-size);
}

#left-content li {
    padding: 1em;
    padding-left: 0;
    column-span: 1fr;
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 600;
}

#left-content li a {
    color: var(--header-color);
}

#right-content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-span: 1fr;
}

#right-content img {
    max-width: 100%;
    max-height: 100%;
    margin: 2em;
    padding: 50px 0;
    /* Optional: Add these styles to center the image within its container */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#section h2 {
    font-size: 48px;
    font-family: var(--primary-font), Arial;
    color: var(--secondary-color);
    font-weight: var(--header-weight);
}

#section h3 {
    font-family: var(--primary-font), Arial;
    color: var(--paragraph-color);
    margin-top: 2.5em;
}

.section2 {
    height: 40vh;
    background-color: var(--highlight-color);
}

.section3 {
    height: 15vh;
    background-color: var(--primary-color);
}

/* Add your custom styles here */
#mapModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50vw;
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
}

#mapContainer {
    height: 40vh;
    /* Set your desired height */
    width: 100%;
    padding-top: 1.5em;
}

#mapModal h2 {
    position: absolute;
    top: 10px;
    font-size: 22px;
    color: var(--header-color);
    left: 15px;
}

.closeIcon {
    position: absolute;
    top: 0px;
    right: 17px;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--header-size);
    color: var(--header-color);
}

@media only screen and (max-width:918px) {
    #templateHeader {
        height: 25px;
    }

    #mapModal {
        max-width: 85%;
        width: 85%;
    }

    #section {
        display: block;
        height: auto;
        text-align: center;
        padding: 10px;
    }

    #section h2 {
        font-size: 2rem;
    }

    #left-content ul {
        width: 100%;
    }

    #left-content li {
        padding-left: 1em
    }

    #right-content img {
        max-width: 90vw;
    }

    .section2 {
        height: auto;
        background-color: var(--highlight-color);
        text-align: center;

    }

    #mapModal h2 {
        font-size: 16px;
        top: 5px;
        margin-right: 2em;
    }

    .section3 {
        height: auto;
        background-color: var(--primary-color);
        text-align: center;
    }
}